<h1>¡Hola, Solvex Dominicana!</h1>
<p>Bienvenido a su nueva aplicación de una sola página, construida con:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> y <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C# </a>para código multiplataforma del lado del servidor</li>
    <li><a href='https://angular.io/'>Angular</a> y <a href='http://www.typescriptlang.org/'>TypeScript</a> para el lado del cliente código</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> para diseño y estilo</li>
</ul>
<p>Para ayudarlo a comenzar, también configuramos:</p>
<ul>
    <li><strong>Angular CLI integration</strong>. Se ejecuta en segundo plano de forma automática, por lo que los recursos del lado del cliente se crean dinámicamente a pedido y la página se actualiza cuando modifica cualquier archivo.</li>
    <li><strong>Efficient production builds</strong>. En el modo de producción, las funciones de tiempo de desarrollo están deshabilitadas y su configuración de publicación de dotnet invoca automáticamente ng build para producir archivos JavaScript compilados
        con anticipación y minimizados.</li>
</ul>
<p>El subdirectorio <code> ClientApp </code> es una aplicación CLI estándar de Angular. Si abre un símbolo del sistema en ese directorio, puede ejecutar cualquier comando <code> ng </code> (por ejemplo, <code> ng test </code>), o usar <code> npm </code>    para instalar más paquetes en él. </p>

<p><button type="button" class="btn btn-primary" onclick="window.location.href='swagger'">Documentacion Aqui!</button></p>